[build]
builder = "NIXPACKS"

[build.nixpacksPlan]
phases = ["setup", "install", "build"]

[build.nixpacksPlan.phases.setup]
nixPkgs = [
  "php82",
  "php82Extensions.gd",
  "php82Extensions.zip", 
  "php82Extensions.pdo",
  "php82Extensions.pdo_mysql",
  "php82Extensions.mbstring",
  "php82Extensions.xml",
  "php82Extensions.curl",
  "php82Packages.composer"
]

[build.nixpacksPlan.phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader --no-interaction --ignore-platform-reqs --no-scripts"
]

[build.nixpacksPlan.phases.build]
cmds = []

[deploy]
startCommand = "bash railway-start.sh"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
